/*------------------------+
 | Site: Budget Breakdown |
 | Part: Print styles     |
 +------------------------*/

/* Hide unnecessary elements
======================================================================*/
#footer .share, #logo { display: none; }


/* Core layout
======================================================================*/
body, #content, #content-primary, #content-secondary, #content-tertiary, #footer, #header, #page {
	background: none;
	border: 0;
	-moz-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
	float: none;
	padding: 0;
	margin: 0;
	max-width: 100%;
	min-width: 0;
	position: static;
	width: 100%;
}

/* Content
======================================================================*/

/* Footer */
#footer { border-top: 1px solid #ccc; margin-top: 20px; padding-top: 20px; }
#footer, #footer a { color: #555; }

/* Header */
#header { border-bottom: 1px solid #ccc; margin-bottom: 20px; padding-bottom: 20px; }
#header, #header a { color: #000; }
#logo-print { display: block; float: left; }